<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      i-Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card> -->

    <section class="ion-margin-bottom ion-text-center">
      <ion-icon name="person" style="zoom:3.5;"></ion-icon>
      <h1 style="font-size:1.4em" class="ion-no-margin">Welcome, <br>
        Ms. Jane Elizabeth Jose</h1>
    </section>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card class="ion-padding ion-text-center" color="secondary" routerLink="/yescrm" routerDirection="root">
            <ion-icon name="person" style="zoom:3.5;"></ion-icon>
            <h2>YesCRM</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card class="ion-padding ion-text-center" color="danger" routerLink="/otrs" routerDirection="root">
            <ion-icon name="people" style="zoom:3.5;"></ion-icon>
            <h2>OTRS</h2>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card class="ion-padding ion-text-center" color="medium" routerLink="/jira" routerDirection="root">
            <ion-icon name="list" style="zoom:3.5;"></ion-icon>
            <h2>JIRA</h2>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card class="ion-padding ion-text-center" color="warning">
            <ion-icon name="settings" style="zoom:3.5;"></ion-icon>
            <h2>Settings</h2>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label><h2><b>RESOURCES</b></h2></ion-label>
      </ion-list-header>
      <ion-item href="https://yescrm.yes.my/index.php">
        <ion-icon slot="start" color="dark" name="book"></ion-icon>
        <ion-label>YesCRM - Customer Service Portal</ion-label>
      </ion-item>
      <ion-item href="https://itsm2.yes.my/otrs/customer.pl">
        <ion-icon slot="start" color="dark" name="build"></ion-icon>
        <ion-label>OTRS - Service Management Suite</ion-label>
      </ion-item>
      <ion-item href="https://ytlcomms.jira.com/browse">
        <ion-icon slot="start" color="dark" name="grid"></ion-icon>
        <ion-label>JIRA - Issue Tracking Product</ion-label>
      </ion-item>
      <!-- <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item> -->
    </ion-list>
</ion-content>
